<div class="container">
    <div class="row">
     <div class="col-md-6">
 
     </div>
     <div class="col-md-6">
      <div class="form-group">
        <label for="date-picker">Select Date:</label>
        <input type="date" class="form-control-sm ms-5" id="date-picker" (change)="onDateChange($event)" />
      </div>
    </div>
      
    </div>


    <div class="div d-flex flex-wrap mt-5 ">

<div class="dashboard-card">
    <div class="card-icon">
      <img src="../../../assets/images/teamwork.png" alt="Holidays Icon">
    </div>
    <div class="card-content">
      <h3>Total Employees</h3>
      <span style="font-size: 12px; color:rgb(65, 65, 172);">Total</span>
      <p>{{totalEmployees}}</p>
    </div>
  </div>
  

  <div class="dashboard-card">
    <div class="card-icon">
      <img src="../../../assets/images/checked.png" alt="Today Icon">
    </div>
    <div class="card-content">
      <h3>Present</h3>
      <span style="font-size: 12px; color:rgb(65, 65, 172);">Today</span>
      <p>{{presentCount}}</p>
    </div>
  </div>
  <div class="dashboard-card">
    <div class="card-icon">
      <img src="../../../assets/images/absence.png" alt="Attendance Icon">
    </div>
    <div class="card-content">
      <h3>Absent/Leave</h3>
      <span style="font-size: 12px; color:rgb(65, 65, 172);">Today</span>
      <p>{{ absentCount }}</p>
    </div>
  </div>
  
  <div class="dashboard-card">
    <div class="card-icon">
      <img src="../../../assets/images/done.png" alt="Attendance Icon">
    </div>
    <div class="card-content">
      <h3>Tasks</h3> 
      <span style="font-size: 12px; color:rgb(65, 65, 172);">Today</span>
      <p>6</p>
    </div>
  </div>

</div>  
<div class="div d-flex flex-wrap mt-5 ">
  
    
      <div class="dashboard-card">
        <div class="card-icon">
          <img src="../../../assets/images/checklist.png" alt="Attendance Icon">
        </div>
        <div class="card-content">
          <h3>Tasks Completed</h3> 
          <span style="font-size: 12px; color:rgb(65, 65, 172);">Today</span>
          <p>6</p>
        </div>
      </div>
      <div class="dashboard-card">
        <div class="card-icon">
          <img src="../../../assets/images/expired.png" alt="Attendance Icon">
        </div>
        <div class="card-content">
          <h3>Tasks Pending</h3>
          <span style="font-size: 12px; color:rgb(65, 65, 172);">Today</span>
          <p>6</p>
        </div>
      </div>
    </div>  
</div> 