<div class="container-fluid mt-5">
    <section class="section">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            View Employee
          </h5>
        </div>
        <div class="card-body">
          <table class="table table-striped" id="table1">
            <thead>
              <tr>
                <th>SrNo.</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone</th>
                <th>UserId</th>
                <th>Password</th>
                <th>Address</th>
                <th>Experience</th>
                <th>Salary</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of employees; let i = index">
                <td>{{i+1}}</td>
                <td>{{ detail.name }}</td>
                <td>{{detail.gender}}</td>
                <td>{{ detail.email }}</td>
                <td>{{ detail.phone }}</td>
                <td>{{ detail.userId }}</td>
                <td>{{ detail.password }}</td>
                <td>{{ detail.address }}</td>
                <td>{{detail.experience}}</td>
                <td>{{ detail.salary }}</td>
              
                <td>
                  <div class="d-flex ">
   
                      <button class="btn btn-primary btn-sm me-2" [routerLink]="['/admin/layout/update-employee',detail._id]">
                        <i class="bi bi-pencil-fill"></i>
                      </button>
               
                    <button class="btn btn-danger btn-sm me-2" (click)="delete(detail._id)">
                      <i class="bi bi-trash-fill"></i>
                    </button>

                    <button class="btn btn-warning btn-sm" [routerLink]="['/admin/layout/add-rating',detail._id]">
                      <i class="bi bi-star-fill"></i>
                    </button>
                  
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
  