<div class="container">
  <div class="row">
                  <div class="col-md-9">
                      <h5 class="card-title">
                          View Rating
                      </h5>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="monthFilter">Filter by Month:</label>
                          <select class="form-control">
                              <option value="">Select Month</option>
                              <option value="january">January</option>
                              <option value="february">February</option>
                              <option value="march">March</option>
                              <option value="april">April</option>
                              <option value="may">May</option>
                              <option value="june">June</option>
                              <option value="july">July</option>
                              <option value="august">August</option>
                              <option value="september">September</option>
                              <option value="october">October</option>
                              <option value="november">November</option>
                              <option value="december">December</option>
                              <!-- Add more options as needed -->
                          </select>
                      </div>
                  </div>
              </div>
    <table class="table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Rating</th>
          <th>Remarks</th>
          <th>Add Rating</th>
          <th>Admin's Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rating of ratings">
          <td>{{ rating.employeeId?.name }}</td> 
          <td>{{ rating.rating }}</td>
          <td>{{ rating.remarks }}</td>

          <td>
            <button class="btn btn-warning btn-sm" [routerLink]="['/admin/layout/add-rating',rating._id]">
                <i class="bi bi-star-fill"></i>
              </button>
              
          </td>
          <td>{{ rating.adminRating }}</td> 
        </tr>
      </tbody>
    </table>
  </div>
  