<div class="container-fluid mt-5">
    <section class="section">
      <div class="card">
        <div class="card-header">
            <div class="row"> <div class="col-md-9">
                <h5 class="card-title">Add Rating</h5>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary"[routerLink]="employeeId ? ['/employee/layout/emp-view-rating', employeeId] : []" >view rating</button>
            </div></div>
           
         
        </div>
        <div class="card-body">
          <form [formGroup]="ratingForm" (ngSubmit)="addRating()">
            <table class="table table-striped" id="table1">
              <thead>
                <tr>
                  <th>Rating</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select formControlName="rating" class="form-control" required>
                        <option value="" disabled>Select Rating</option>
                        <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
                      </select>
                  </td>
                  <td>
                    <input type="text" formControlName="remarks" class="form-control" required>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="submit" class="btn btn-primary mt-2" >Add Rating</button>
          </form>
        </div>
      </div>
    </section>
  </div>
  