<div class="container-fluid mt-5">
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                  View Attendance
                </h5>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Name Of Employees</th>
                            <th>Check-In</th>
                            <th>Break</th>
                            <th>Check-Out</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>abc</td>
                            <td>10:10</td>
                            <td>60 min</td>
                            <td>7:10</td>
                            <td>
                                <span class="badge bg-success">Present</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>