<div class="container">
    <div class="row">
      <div class="col-md-9">
        <h5 class="card-title">
          View Rating 
        </h5>
      </div>
     
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Rating</th>
          <th>Remarks</th>
        
          <th>Admin's Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rating of ratings">
          <td>{{ rating.employeeId?.name }}</td> 
          <td>{{ rating.rating }}</td>
          <td>{{ rating.remarks }}</td>
         
          <td>{{ rating.adminRating }}</td> 
        </tr>
      </tbody>
    </table>
  </div>
  