<div class="container-fluid mt-5">
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                  View Attendance
                </h5>
            </div>
            <div class="card-body" >
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Date</th>
                            <th>Check-In</th>
                            <th>Break</th>
                            <th>Check-Out</th>
                            <th>Work Done</th>
                            <th>Status</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>1</td>
                            <td>98</td>
                            <td>6</td>
                            <td>4</td>
                            <td>ghgh</td>
                            <td>2</td>
                           
                            <td>
                              
                              <span class="badge bg-danger">jj</span>
                            </td>
                           
                          </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>