<div class="container-fluid mt-4">
    <section id="basic-vertical-layouts">
        <div class="row match-height">
          
            <div class="col-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Employee</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-vertical" [formGroup]="addEmployee">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                          <div class="form-group">
                                            <label for="first-name-icon">Name</label>
                                            <div class="input-group has-validation">
                                              <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                              <input type="text" class="form-control" placeholder="Name" formControlName="name" id="first-name-icon">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-12 mt-4">
                                          <div class="form-group">
                                            <label for="gender-icon">Gender</label>
                                            <div class="input-group has-validation">
                                              <span class="input-group-text"><i class="bi bi-gender-ambiguous"></i></span>
                                              <select formControlName="gender" id="gender-icon" class="form-control">
                                                <option value="" disabled selected>Select Gender</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        
                                        <div class="col-12 mt-4">
                                          <div class="form-group">
                                            <label for="email-id-icon">Email</label>
                                            <div class="input-group has-validation">
                                              <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                                              <input type="text" class="form-control" placeholder="Email" formControlName="email" id="email-id-icon">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-12 mt-4">
                                          <div class="form-group">
                                            <label for="mobile-id-icon">Mobile</label>
                                            <div class="input-group has-validation">
                                              <span class="input-group-text"><i class="bi bi-phone-fill"></i></span>
                                              <input type="text" class="form-control" placeholder="Mobile" formControlName="phone" id="mobile-id-icon">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-12 mt-4">
                                          <div class="form-group">
                                            <label for="Address-id-icon">Address</label>
                                            <div class="input-group has-validation">
                                              <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                                              <input type="text" class="form-control" placeholder="Address" formControlName="address" id="Address-id-icon">
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="col-12 mt-4">
                                          <div class="form-group">
                                            <label for="date-id-icon">Joining Date</label>
                                            <div class="input-group has-validation">
                                              <span class="input-group-text"><i class="bi bi-calendar-event-fill"></i></span>
                                              <input type="date" class="form-control" formControlName="joining_date" id="date-id-icon">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-12 mt-4">
                                          <div class="form-group">
                                            <label for="experience">Experience</label>
                                            <div class="input-group has-validation">
                                              <span class="input-group-text"><i class="bi bi-info-circle-fill"></i></span>
                                              <input type="text" class="form-control" placeholder="Experience" formControlName="experience" id="experience">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-12 mt-4">
                                          <div class="form-group">
                                            <label for="Amount-id-icon">Salary</label>
                                            <div class="input-group has-validation">
                                              <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                                              <input type="text" class="form-control" placeholder="Amount" formControlName="salary" id="Amount-id-icon">
                                            </div>
                                          </div>
                                        </div>
                                      
                                        <div class="col-12 d-flex justify-content-end mt-5">
                                          <button type="submit" class="btn btn-primary me-1 mb-1" (click)="submit()" >Submit</button>
                                          <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                        </div>
                                      </div>
                                      
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

