<!-- add-rating.component.html -->
<div class="container">
    <h2>Add Employee Ratings</h2>
    <form (submit)="addRating()">
      <table class="table">
        <thead>
          <tr>
            <th>Rating</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" class="form-control" id="rating" [(ngModel)]="rating" name="rating" required>
            </td>
          
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Add Rating</button>
    </form>
  </div>
  