<div class="container">
    <h2>Add Employee Ratings</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Rating</th>
          <th>Remarks</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" class="form-control"/></td>
          <td><input type="number"  class="form-control" /></td>
          <td><textarea type="text"  class="form-control" ></textarea>
          
        </tr>
      </tbody>
    </table>
    <button  class="btn btn-primary">Add Employee</button>
  </div>
  