<div id="sidebar">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="index.html"><img src="./assets/compiled/svg/logo.svg" alt="Logo" srcset=""></a>
                </div>
                <div class="sidebar-toggler x">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>
                <li class="sidebar-item active">
                    <a href="index.html" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item has-sub">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-stack"></i>
                        <span>Employees</span>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item">
                            <a href="add-employee.html" class="submenu-link">Add Employee</a>
                        </li>
                        <li class="submenu-item">
                            <a href="view-employee.html" class="submenu-link">View Employee</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="view-attendance.html" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>View Attendance</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
